.navbar {
    font-size: 24px;
    display: flex;
    gap: 57px;
}

.nav-link {
    color: #FF6060;
    text-decoration: none;
    cursor: pointer;
}

.about {
    margin: 0;
}

.active-link {
    text-decoration: underline;
}

@media screen and (max-width: 700px) {
    .navbar {
        font-size: 12px;
        gap: 10px;
        text-transform: uppercase;
    }
}