.titleBtns {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.titleBtns .titleBtnContainer {
    min-height: 52px;
}

.titleBtns .titleBtn {
    height: 52px;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.second-bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (max-width: 700px) {
    .titleBtns {
        flex-direction: column;
    }

    .titleBtns .titleBtnContainer {
      min-height: 32px;
    }

    .titleBtns .titleBtn {
        height: 32px;
    }

    .information {
        flex-direction: column;
        margin-top: 10px;
    }

    .second-bloc {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
  }


}