.titleBtns {
    display: flex;
    justify-content: space-between;
    gap: 76px;
}

.titleBtnContainer {
    min-height: 52px;
}

.titleBtns .titleBtn {
    height: 52px;
}

.information {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.second-bloc {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}