footer {
    background-color: black;
    height: 209px;
    width: 100%;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer p {
    color: white;
    margin: 32px 0 0 0;
}

.footer img {
    margin: 66px 0 0 0;
}

@media screen and (max-width: 700px) {
    .footer p {
        font-size: 12px;
    }
}